<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product </title>
    <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>                 
<body>
    <header>
        <div class="logo"><a href="/">Al-Amal</a></div>
        <nav>
            <ul>
                <li><a href="/products">Products</a></li>
                <li><a href="/#about-us-conatiner" class="about_URL">About</a></li>
                <li><a href="#footer" class="footer_URL">Contacts</a></li>
            </ul>
        </nav>
       <nav>
        <ul>
            <li class="cart">
                <a href="/Shoppin_Cart">
                Cart <ion-icon name="cart-outline"></ion-icon><span>0</span></a>
                </li>
            <li class="user-menu">
                {% if 'username' in session %}
                <ion-icon name="person-circle-outline"></ion-icon>    
                <a href="/logout" id="logout">Logout</a>
                {% else %}
                    
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                {% endif %}
            </li>
        </ul>
       </nav>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}



    <div id="product-page-title">
        <h2>Products</h2>

    </div>
    
    
    {% for product in products %}
        <div class="product-card">
            <h6 class="productId">id: {{product.id}}</h6>
            <img src="{{product.image}}" alt="{{product.name}}">
            <h3>Name: {{product.name}}</h3>
            <p>Price: {{product.price}}</p>
            <span>inCart: {{product.inCart}}</span> <br>
            <button class="cart-button">Add to cart</button>
          
           

        </div>
    {% endfor %}
    <div id="product-listin" class="product-list">
        
       

        
    </div>
    
    <div id="spliter">

        
    </div>
          
<footer>
    <div  id="footer">
        
        <div class="row">
            <div class="Get_to_Know_us">
                <div><h4>Get To Know us</h4></div>
                <ul>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Al-Amal Service</a></li>
                </ul>
            </div>
            <div class="Join_us">
                <div><h4>Join Us</h4></div>
                <ul>
                    <li><a href="#">an invester</a></li>
                    <li><a href="#"></a>multi-store partner</li>
                    <li><a href="#"></a>an employer</li>
                </ul>
            </div>
            <div>
                <div>Contact US</div>
                <ul>
                    <li><a href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="https://mail.google.com/"><ion-icon name="mail-outline"></ion-icon></a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="Copyright">        
        <p style="margin-top: 10px;">© Copyright Al-Amal</p>
    </div>
</footer>
    <script type="module" src="{{ url_for('static', filename='/JS/mainScript.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>