<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product </title>
    <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>                 
<body>
    <header>
        <div class="logo"><a href="/">Al-Amal</a></div>
        <nav>
            <ul>
                <li><a href="/products">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
       <nav>
        <ul>
            <li class="user-menu">
                {% if 'username' in session %}
                <li class="cart">
                    <a href="/Shoppin_Cart">
                    Cart <ion-icon name="cart-outline"></ion-icon><span>0</span></a>
                    </li>
                    
                    <a href="/logout">Logout</a>
                {% else %}
                    <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                {% endif %}
            </li>
        </ul>
       </nav>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


    <div>
        <h2>These a product page</h2>
    </div>
    {% for product in products %}
        <div class="product-card">
            <img src="{{product.image}}" alt="{{product.name}}">
            <h3>Name: {{product.name}}</h3>
            <p>Price: {{product.price}}</p>
            <span>inCart: {{product.inCart}}</span> <br>
            <button class="cart-button">Add to cart</button>
          
           

        </div>
    {% endfor %}
    <div id="product-listin" class="product-list">
        
       

        
    </div>
    
    <script type="module" src="{{ url_for('static', filename='/JS/producScript.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>