/* Styleing Cart */


.products-container{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
 
  color: black;
}
.productQuanitity{
  font-size: 12px;
}
.products-container ion-icon{
  font-size: 14px;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  
}
.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
  color: #000;
}
.product-title{
  width: 45%;
  color: #000;
}
.price {
  width: 15%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 12px;
}

.total{
  width: 10%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.quantity{
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.product-row{
display: flex;
justify-content: space-between;
border-bottom: 1px solid lightgray;
}
.product{
  width: 45%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
}
.product img{
  width: 75px;
  height: 90px;
  
}
.product span{
  padding-left: 2px;
  font-size: 12px;
}
.quanitity{
  display: flex;
  justify-items: center;
  align-items: center;

}
.itemInCart{
  font-size: 12px;
}
.basketTotalContainer{
  margin-top: 50px;
  display: table;
  justify-content: left;
  width: 100%;
  padding: 10px 0;

}

.basketTotalTitle{
  width: 30%;
  text-align: left;
  margin-left: 440px;
  margin-bottom: 8px;
  
}
.basketTotal{
  width: 10%;
}

.bottom-row{
  display: table;
  height: 70;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-col{
  text-align: left;
  width: 50%;
  

}
.bottom-col button{
  width: 123px;
  height: 28px;
  background-color: white;
  text-decoration: none;
}
.bottom-col button a{
  text-decoration: none;
  
}
.bottom-col button a:hover{
  color: white;
}
.bottom-col button:hover{
  width: 100px;
  color: white;
  background-color: black;
}
.ShopeAgain a{
  color: #100;
  text-decoration: none;
  cursor: pointer;
  /* margin-left: 114px; */
  font-size: 16px;
  

}
.ShopeAgain a:hover{
  color: #000;
}

.ShopeAgain{
  width: 50%;
  margin-left: 230px;
  margin-bottom: 51px;
  text-align: left;

}


.clearcart{
  margin-right: 564px;
  
}
.products-container col {
  text-align: left;
  width: 50%;
}

.checkout-button{
  width: 96px;
  height: 32px;
  background-color: white;
  margin-left: 382px;
  font-weight: bold;
  cursor: pointer;
}
.checkout-button:hover{
  color: white;
  background-color: black;
  width: 120px;
}

/* Head styling  */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.6;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}


/* Styling the footer  */

#footer {
  display: table;
  width: 50%;
  height: 100%;
  text-align: left;
  margin-left: 414px;
}

.row {
  display: table-row;
  vertical-align: middle;

}

.Get_to_Know_us,
.Join_us,
Contact_US {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
 
}

#footer h4 {
  margin-bottom: 10px;
}

#footer ul {
  list-style-type: none;
  padding: 0;
}

#footer li {
  margin-bottom: 3px;
  font-weight: 20px;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}

.Copyright{
  margin: 25px 0 25px -39px;
  
  
}
.Copyright p{
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #fff;
  font-weight: 20px;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}


/* PopUp styling */
.custom-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.custom-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  position: relative;
  margin-top: 22px;
  margin-left: 517px;
}
#confirmLogout, 
#cancelLogout{
  width: 95px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
}

#confirmLogout:hover, 
#cancelLogout:hover {
  background-color: black;
  color: white;
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Button styles */
#custom-popup-content button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
}

#custom-popup-content button:hover {
  background-color: black;
  color: white;
}
