
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.6;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  
}
header.sticky{
  position: -webkit-sticky;
  position: sticky;
}
.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.form-iline {
  display: flex;
  margin-top: 10px;
}

.form-iline input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}

.form-iline button {
  padding: 8px 15px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

#home-banner {
  background-color: white;
  padding: 40px 0;
}

#banner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}


.grid-itme  {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}



.grid-item h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#white-area {
  background-color: #fff;
  padding: 40px 20px;
}


  .col {
    display: inline-block;
    margin: 80px 30px 30px 50px;
    background-color: #fff;
    height: 300px;
  }
  .col h4, p, a{
    color: #100;
  }
  #home-banner{
    height: 500px;
    width: 100%;
    text-align: left;
    background-color: white;
    color: #100;
 
  
  }
  #banner{
    text-align: left;
   
    
  }
  .banner-button{
    width: 145px;
    height: 35px;
    margin-left: 329px;
    background-color: white;
    border-color: #100;
    border: 3px solid;
    text-decoration: none;
    
    color: #100;
  }
  .banner-button:hover{
    background-color: #100;
    color: white;
  }
  .cart-button{
    width: 130px;
    height: 30px;
    background-color: white;
    border-color: #100;
    border: 3px solid;
    cursor: pointer;
  
  }

  .cart-button:hover{
    background-color: #100;
    color: white;
  }

  .banner-h1{
    display: inline-block;
  }


  .column{
     float: left;
    width: 25%;
    padding: 0px 10px;
  }
  */
  * {
    box-sizing: border-box;
  }

  #about-us-conatiner{
    width: 100%;
    background-color: black;
  }
#white-area{
  width: 80%;
  height: 170px;
  background-color: black;
  margin-top: 90px;
  color: white;
  text-align: left;
  margin-left: 119px;
  
}
#white-area p{
  padding-top: 10px;
  color: white;
  font-size: 14px;
}

#spliter{
  height: 200px;
}
/* Styling the footer  */

#footer {
  display: table;
  width: 50%;
  height: 100%;
  text-align: left;
  margin-left: 414px;
}

.row {
  display: table-row;
  vertical-align: middle;

}

.Get_to_Know_us,
.Join_us,
Contact_US {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
 
}

#footer h4 {
  margin-bottom: 10px;
}

#footer ul {
  list-style-type: none;
  padding: 0;
}

#footer li {
  margin-bottom: 3px;
  font-weight: 20px;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}

.Copyright{
  margin: 25px 0 25px -39px;
  
  
}
.Copyright p{
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #fff;
  font-weight: 20px;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}

/* Style products page  */
#product-page-title{
  margin: 20px 44px 15px;
  text-align: left;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  box-shadow: 0 4px 8ox 0 rgb(0, 0, 2);
  color: #100;
  width: calc(20% - 20px);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;

}
.product-card span{
  display: none;
}
.product-card p {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #100;
  font-size: 12px;
}
.product-card h3{
  max-width: none;
  max-height: min-content;
  text-overflow: ellipsis;
  font-size: 12px;
}
.product-card img{
width: 150px;
height: 200px;

}



.productId{
  display: none;
}
/* Styleing Cart */


.products-container{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
 
  color: black;
}
.products-container ion-icon{
  font-size: 14px;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  
}
.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
  color: #000;
}
.product-title{
  width: 45%;
  color: #000;
}
.price {
  width: 15%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 12px;
}

.total{
  width: 10%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.quantity{
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.product-row{
display: flex;
justify-content: space-between;
border-bottom: 1px solid lightgray;
}
.product{
  width: 45%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
}
.product img{
  width: 75px;
  height: 90px;
  
}
.product span{
  padding-left: 2px;
  font-size: 12px;
}
.quanitity{
  display: flex;
  justify-items: center;
  align-items: center;

}
.itemInCart{
  font-size: 12px;
}
.basketTotalContainer{
  margin-top: 50px;
  display: table;
  justify-content: left;
  width: 100%;
  padding: 10px 0;

}

.basketTotalTitle{
  width: 30%;
  text-align: left;
  margin-left: 418px;
  
}
.basketTotal{
  width: 10%;
}

.ShopeAgain a{
  font-size: 12px;
  color: #100;
}


/* Log in page style */



#login {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flash-messages.error{
  color: red;
}
.flash-messages.success{
  color: #2bb330;
}
#login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login input[type="submit"] {
  background-color: white;
  color: black;
  cursor: pointer;
  border: solid black 2px;
  font-weight: bolder;
  
}

#login input[type="submit"]:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  
}

#login p {
  margin-top: 15px;
  color: #555;
}

/* Styleing Register */
#register {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

#register form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#register input[type="submit"], .register-button{
  background-color: white;
  color: black;
  cursor: pointer;
  border: solid black 2px;
  width: 200px;
  height: 30px;
  font-weight: bolder;
}

#register input[type="submit"], .register-button:hover {
  background-color: black;
  color: white;
}

#register p {
  margin-top: 15px;
  color: #555;
}



/* PopUp styling */
.custom-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.custom-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  position: relative;
  margin-top: 22px;
  margin-left: 517px;
}
#confirmLogout, #cancelLogout{
  width: 95px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
}


/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Button styles */
#custom-popup-content button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
}

#confirmLogout:hover,
#cancelLogout:hover {
  background-color: black;
  color: white;
}
