<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"><a href="/">Al-Amal</a></div>
        <nav>
            <ul>
                <li><a href="/products">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
       <nav>
        <ul>
            <li class="user-menu">
                {% if 'username' in session %}
                <li class="cart">
                    <a href="/Shoppin_Cart">
                    Cart <ion-icon name="cart-outline"></ion-icon><span>0</span></a>
                    </li>
                    
                    <a href="/logout">Logout</a>
                {% else %}
                    <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                {% endif %}
            </li>
        </ul>
       </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <h1>log in</h1>
    
    <div id="login">
        <form action="/login" method="post">
            <input type="text" placeholder="username" name="username" required><br>
            <input type="text" placeholder="password" name="password" required><br>
            <input type="submit" value="Log-In">
    </form>
    </div>
    <div>
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %} -->

    </div>

    <p>you don't have account? here you can <a href="{{url_for('register')}}"><br>register </a></p>

    <footer class="white-section" id="footer">
        <div class="container-fluid">

        <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-sm social-icon" style="color: #000205;"></i></a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-sm social-icon" style="color: #000000;"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-sm social-icon"></i></a>
        <a href="https://mail.google.com/"><i class="fa-solid fa-envelope fa-sm social-icon" style="color: #000000;"></i></a>
        <p style="margin-top: 10px;">© Copyright Al-Amal</p>
  
        </div>
      </footer>
</body>
</html>