<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
</head>
<body>

    <header>
        
        <div class="logo"><a href="/">Al-Amal</a></div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>

            </ul>
        </nav>
                  <form class="form-iline sticky-top search">
                      <input class="form-control ml-em-" type="search" placeholder="Search" aria-label="Serach">
                      <button class="btn btn-outline-success " type="submit" style=float:right;>Search</button>
                  </form>
        
          </nav>
    
        

    </header>
    <H1>these is a Register form</H1>
    

    <form action="{{url_for('register')}}" method="post">
        <input type="text" placeholder="User Name" name="username" required><br>
        <input type="text" placeholder="email" name="email" required><br>
        <input type="password" name="password" required><br>
        <input type="submit" value="Register"><br>
    </form>
    <p>you have already account? <a href="{{url_for('login')}}"> <br>login</a></p>
    <footer class="white-section" id="footer">
        <div class="container-fluid">
        <!-- <div class="row social-col">
          <div class="col-lg col-3">
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2xs" style="color: #000205;"></i></a>
          </div
          <div class="col-lg col-3">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2xs" style="color: #000000;"></i></a>
          </div>
          <div class="col-lg col-3">
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xs"></i></a>
          </div>
          <div class="col-lg col-3">
            <a href="https://mail.google.com/"><i class="fa-solid fa-envelope fa-2xs" style="color: #000000;"></i></a>
          </div>
  
        </div> -->
        
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-sm social-icon" style="color: #000205;"></i></a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-sm social-icon" style="color: #000000;"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-sm social-icon"></i></a>
        <a href="https://mail.google.com/"><i class="fa-solid fa-envelope fa-sm social-icon" style="color: #000000;"></i></a>
        <p style="margin-top: 10px;">© Copyright Al-Amal</p>
  
        </div>
      </footer>
</body>
</html>