<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <div class="logo"><a href="/">Al-Amal</a></div>
    <nav>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
   <nav>
    <ul>
        <li class="user-menu">
            {% if 'username' in session %}
            <li class="cart">
                <a href="/Shoppin_Cart">
                Cart <ion-icon name="cart-outline"></ion-icon><span>0</span></a>
                </li>
                
                <a href="/logout">Logout</a>
            {% else %}
                <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% endif %}
        </li>
    </ul>
   </nav>
</header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <H1>Register</H1>
    
    <div id="register">
      <form method="post" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Register</button>
    </form>
  </div>
    <p>you have already account? <a href="{{url_for('login')}}"> <br>login</a></p>
    <footer class="white-section" id="footer">
        <div class="container-fluid">
        <!-- <div class="row social-col">
          <div class="col-lg col-3">
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2xs" style="color: #000205;"></i></a>
          </div
          <div class="col-lg col-3">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2xs" style="color: #000000;"></i></a>
          </div>
          <div class="col-lg col-3">
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xs"></i></a>
          </div>
          <div class="col-lg col-3">
            <a href="https://mail.google.com/"><i class="fa-solid fa-envelope fa-2xs" style="color: #000000;"></i></a>
          </div>
  
        </div> -->
        
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-sm social-icon" style="color: #000205;"></i></a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-sm social-icon" style="color: #000000;"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-sm social-icon"></i></a>
        <a href="https://mail.google.com/"><i class="fa-solid fa-envelope fa-sm social-icon" style="color: #000000;"></i></a>
        <p style="margin-top: 10px;">© Copyright Al-Amal</p>
  
        </div>
      </footer>
</body>
</html>